/* Color */
:root {
  --main-background-color: #ffffff;
  --footer-beckgrond-color: #2e2f42;
  --text-footer-section-color: #f4f4fd;
  --hover-focus-color: #404bbf;
  --title-color: #2e2f42;
  --text-color: #434455;
  --hairlines-button-color: #e7e9fc;
  --blue-text-color: #4d5ae5;
}

body {
  color: var(--text-color);
  background-color: var(--main-background-color);
}
/* logo */
.logo {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--title-color);
}
.logo-blue {
  color: var(--blue-text-color);
}

.list {
  list-style: none;
}
/* menu navigation */
.site-nav .link {
  color: var(--title-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-color);
}
.site-nav .link.current {
  color: var(--hover-focus-color);
}
/* contact */
.contact {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
}
.list .contact:hover,
.list .contact:focus {
  color: var(--hover-focus-color);
}
/* hero section */

.hero-title {
  color: var(--main-background-color);
  background-color: var(--footer-beckgrond-color);
}

.section.team {
  background-color: var(--text-footer-section-color);
}
.section-title,
.section-qualities,
.section-name {
  color: var(--title-color);
}
/* button */
.button {
  color: var(--main-background-color);
  background-color: var(--blue-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero .button:hover,
.hero .button:focus {
  background-color: var(--hover-focus-color);
}
.footer {
  background-color: var(--footer-beckgrond-color);
}
.footer-text {
  color: var(--text-footer-section-color);
}
.logo-cloud {
  color: var(--text-footer-section-color);
}
/* Стилі Portfolio */
.section .work-button {
  color: var(--blue-text-color);
  background-color: var(--text-footer-section-color);
  border: 1px solid var(--hairlines-button-color);
  border-radius: 4px;
  cursor: pointer;
}
.section .work-button:hover,
.section .work-button:focus {
  color: var(--main-background-color);
  background-color: var(--hover-focus-color);
}
